body{
  background-color: aliceblue;
}

header{
  border-bottom: 1px solid;
}

h1{
  color:brown;
  text-align: center;
}
ul{
  border: 1px dotted;
}
a{
  text-decoration: none;
}

footer{
  background-color: orange;
  border-radius: 10px;
}
footer a{
  font-size: 12px;
}

h3{
  text-shadow: 0px 0px 3px blue;
}
