body{
  margin:20px;
  font-style: italic;
}

h1{
  color:brown;
  text-align: center;
}
form{
  margin:10px;
  background-color: mistyrose;
  padding: 0 20px;
}

p span{
  color: blue;
  font-weight: bold;
}

footer{
  background-color: orange;
  border-radius: 10px;
  padding-left: 10px;
}
